header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #ccc;
  padding: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  max-width: 900px;
  position: fixed;

  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

header .container a h1{
    color: red;
}

header .container button {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  width: 35px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.container button strong {
  display: block;
  width: 90%;
  padding: 4px;
  border-radius: 100%;
  color: #fff;
  background-color: red;
  position: relative;
  top: 7px;
  left: 2px;
  z-index: -1;
}

.container button img {
  width: 100%;
}
